// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito",
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #0a80ff;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e74c3c;
$orange: #f6993f;
$yellow: #ffc107;
$green: #28a745;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$oldgreen: #27ae60;

.oldgreen {
    color: $oldgreen;
}

.blue {
    color: $blue;
}

.indigo {
    color: $indigo;
}

.purple {
    color: $purple;
}

.pink {
    color: $pink;
}

.red {
    color: $red;
}

.orang {
    color: $orange;
}

.yellow {
    color: $yellow
}

.green {
    color: $green;
}

.teal {
    color: $teal;
}

.cyan {
    color: $cyan;
}
